.about_me{
    background-color: #F6F6F6;
    flex-flow: column;
    padding-top: 90px;
    align-items: center;
    padding-bottom: 70px;
}

.about_me_title{
    padding-bottom: 20px;
    font-size: 34px;
}

.about_me p{
    font-size: 18px;
}

.about_me_next{
    padding-bottom: 40px;
}

@media screen and (max-width: 1050px){
    .after_header_info_image{
        max-width: 95%
    }

    .after_header_info_name{
        margin-left: 2.5%;
    }
}